*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}
.nav {
    background-color: #333;
    color: white;
     width: 100%;
    height: 60px;
    display: flex;
}
.navbar {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    height: 50px;
}
.nav-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: none;
}
.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}
.nav-links ul li a:hover {
    color: #ff6347;
}
.logo h1 {
    font-size: 27px;
    color: white;
     transition: color 0.3s;
}
.logo h1:hover {
    color: #ff6347;
}
.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: rgb(235, 234, 234);
}
.content {
    max-width: 50%;
}
.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}
.content h1 span {
    color: #ff6347;
}
.content h3 {
    font-size: 24px;
    margin-bottom: 20px;
}
.content p {
    font-size: 16px;
    margin-bottom: 30px;
    line-height: 1.6;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6347;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
    margin-top: 20px;
}
.btn:hover {
    background-color: #e5533d;
    transform: scale(1.1);
}
.image img {
    max-width: 400px;
    border-radius: 10px;
}
.image {
    text-align: center;
}
.image img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.about-section {
    background-color: #7f7e7e;
    color: white;
    text-align: center;
    padding: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.intro {
    max-width: 50%;
     line-height: 1.6;
}
.intro h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #ff6347;
}

.about-section p {
    margin: 0;
    font-size: 14px;
}
.about-section p a {
    color: #ff6347;
    text-decoration: none;
}
.about-section p a:hover {
    text-decoration: underline;
}
.skill-sec-heaading h2 {
   margin-left: 400px;
    
}

.skills-section {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background-color: rgb(235, 234, 234);
}
.skills-section div {
    text-align: center;
}
.skills-section div h3 {
    margin-top: 10px;
    font-size: 20px;
}
.skills-section div i {
    font-size: 50px;
    color: #ff6347;
}
.skills-section div i:hover {
    color: #e5533d;
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}
